body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 40px,
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e9ecef;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subtitle {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 5px;
        }

form {
            max-width: 600px;
            margin: 0 auto;
        }

form label {
            display: block;
            margin: 10px 0 5px;
        }

form input, form select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

form button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

form button:hover {
            background-color: #45a049;
        }

.form-container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

#inputForm {
    max-width: 600px;
    margin: 0 auto;
}

.separator {
    border-top: 1px solid #ccc;
    margin: 20px 0; 
}

.space {
    margin-bottom: 40px; 
}

